baseURL = 'https://EarHe.github.io/'
languageCode = 'en-us'
title = 'Yiyao He'
theme = "gallery"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[params]
  defaultTheme = "dark"